.brands {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}
.brands__logo {
  margin-bottom: 60px;
}
@media (max-width: 950px) {
  .brands {
    flex-direction: column;
  }
}

.devices {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.devices__picture {
  width: 70%;
  height: 44.5vw;
}
@media (max-width: 540px) and (min-width: 400px) {
  .devices__picture {
    width: 375px;
    height: 238px;
  }
}
@media (max-width: 400px) {
  .devices__picture {
    width: 95%;
    height: 60.325vw;
  }
}

.download {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.download__buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .download__buttons {
    flex-direction: column;
  }
}
.download__button {
  margin: 10px 6px;
  font-family: "Bai Jamjuree";
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
  width: 280px;
  border-radius: 70px;
}
.download__button_iOS {
  background: hsl(171, 66%, 44%);
  border: 1px solid hsl(171, 66%, 44%);
  border-bottom: 4px solid hsl(171, 67%, 34%);
}
.download__button_Mac {
  background: hsl(233, 100%, 69%);
  border: 1px solid hsl(233, 100%, 69%);
  border-bottom: 4px solid hsl(233, 50%, 52%);
}
.download .information__title {
  font-size: 53px;
}
@media (max-width: 900px) and (min-width: 750px) {
  .download .information__title {
    font-size: 45px;
  }
}
@media (max-width: 750px) and (min-width: 320px) {
  .download .information__title {
    font-size: 32px;
  }
}
.download .information__subtitle {
  font-size: 24px;
}
@media (max-width: 900px) and (min-width: 750px) {
  .download .information__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 750px) and (min-width: 320px) {
  .download .information__subtitle {
    font-size: 17px;
  }
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../../BaiJamjuree-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("../../BaiJamjuree-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
.footer {
  width: 80%;
  margin: 200px auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-left: 20px;
}
@media (max-width: 980px) {
  .footer__contacts {
    margin-left: 0px;
    margin: 30px auto;
  }
}
@media (max-width: 980px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
}
.header__cover-image {
  background: url("../../images/bg-header-desktop.png") no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 280px;
}
@media (max-width: 375px) and (min-width: 320px) {
  .header__cover-image {
    background: url("../../images/bg-header-mobile.png") no-repeat;
  }
}
.header__logo {
  position: absolute;
  width: 120px;
  top: 120px;
}

.information {
  width: 58vw;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-size: 24px;
}
@media (max-width: 750px) and (min-width: 320px) {
  .information {
    width: 86vw;
  }
}
.information__title {
  margin: 20px auto;
  font-weight: 600;
  font-size: 43px;
  color: hsl(210, 10%, 33%);
}
@media (max-width: 900px) and (min-width: 750px) {
  .information__title {
    font-size: 36px;
    margin: 15px auto;
  }
}
@media (max-width: 750px) and (min-width: 320px) {
  .information__title {
    font-size: 26px;
    margin: 10px auto;
  }
}
.information__subtitle {
  margin: 0 auto 60px auto;
  font-weight: 400;
  font-size: 21px;
  color: hsl(201, 11%, 66%);
}
@media (max-width: 900px) and (min-width: 750px) {
  .information__subtitle {
    font-size: 18px;
    margin: 0 auto 40px auto;
  }
}
@media (max-width: 750px) and (min-width: 320px) {
  .information__subtitle {
    font-size: 17px;
    margin: 0 auto 40px auto;
  }
}

.snippets {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.snippets__content {
  width: 100%;
  display: flex;
  -moz-column-gap: 130px;
       column-gap: 130px;
}
@media (max-width: 900px) {
  .snippets__content {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
}
.snippets__computer-image {
  margin-left: -2%;
  width: 52%;
  max-height: 39vw;
}
@media (max-width: 900px) and (min-width: 620px) {
  .snippets__computer-image {
    margin-left: 0;
  }
}
@media (max-width: 620px) {
  .snippets__computer-image {
    width: 322px;
    max-height: auto;
    min-height: 241px;
  }
}
.snippets__list {
  margin: 10px;
  width: 27%;
}
@media (max-width: 1000px) and (min-width: 900px) {
  .snippets__list {
    margin-top: 0;
  }
}
@media (max-width: 900px) and (min-width: 620px) {
  .snippets__list {
    width: 50%;
  }
}
@media (max-width: 620px) {
  .snippets__list {
    width: 86%;
  }
}
.snippets__snippet {
  font-family: "Bai Jamjuree";
  text-align: left;
  margin-top: 55px;
}
.snippets__snippet-title {
  font-size: 26px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  margin: 0;
}
.snippets__snippet-subtitle {
  margin: 15px 0;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .snippets__snippet {
    margin-top: 20px;
  }
  .snippets__snippet-title {
    font-size: 24px;
  }
  .snippets__snippet-subtitle {
    font-size: 17px;
  }
}
@media (max-width: 1000px) and (min-width: 900px) {
  .snippets__snippet {
    margin-top: 0;
  }
  .snippets__snippet-title {
    font-size: 22px;
  }
  .snippets__snippet-subtitle {
    font-size: 17px;
  }
}
@media (max-width: 900px) {
  .snippets__snippet {
    text-align: center;
  }
  .snippets__snippet-title {
    font-size: 20px;
  }
  .snippets__snippet-subtitle {
    font-size: 16px;
  }
}

.tools {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}
.tools__table {
  display: flex;
  justify-content: space-between;
  width: 86%;
}
@media (max-width: 950px) {
  .tools__table {
    flex-direction: column;
    align-items: center;
  }
}
.tools__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bai Jamjuree";
  width: 32%;
  text-align: center;
}
@media (max-width: 950px) and (min-width: 750px) {
  .tools__item {
    width: 58vw;
  }
}
@media (max-width: 750px) and (min-width: 320px) {
  .tools__item {
    width: 86vw;
  }
}
.tools__icon {
  height: 50px;
  margin-bottom: 20px;
}
.tools__title {
  font-size: 22px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  margin-bottom: 0;
}
.tools__text {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 110px;
  -moz-column-gap: 10vw;
       column-gap: 10vw;
}
@media (max-width: 980px) {
  .menu__list {
    flex-wrap: nowrap;
    align-items: center;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.menu__logo {
  width: 70px;
  height: 70px;
  margin-right: 14vw;
}
@media (max-width: 980px) {
  .menu__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.menu__item {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Bai Jamjuree";
  font-size: 23px;
  color: hsl(210, 10%, 33%);
  text-decoration: none;
  text-align: left;
}
.menu__item:nth-child(2n) {
  margin-bottom: 0;
}
@media (max-width: 980px) {
  .menu__item:nth-child(2n) {
    margin-bottom: 20px;
  }
}
@media (max-width: 980px) {
  .menu {
    flex-direction: column;
  }
}

body {
  background: white;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=index.css.map */