@font-face {
    font-family: 'Bai Jamjuree';
    src: url("../../BaiJamjuree-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Bai Jamjuree';
    src: url("../../BaiJamjuree-SemiBold.ttf") format("truetype");
    font-weight: 600;
}